#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container__toolbar {
  margin-top: 30px;
}

@media (width <= 768px) {
  .container__toolbar {
    margin: 0;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

@media (width <= 768px) {
  .container__cards {
    position: fixed;
    top: 0;
    bottom: 70px;
    left: 0;
    width: 100%;
    gap: 0;
  }
}

@media (width <= 768px) {
  .cards {
    display: flex;
    align-items: center;
    transform: translateX(calc(var(--active-card-index, 0) * -100%));
    transition: transform 0.25s ease;
  }
}

.toolbar {
  display: flex;
  gap: 20px;
}

@media (width <= 768px) {
  .toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: center;
    width: 100%;
    height: 60px;
    padding: 5px;
  }
}
