.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 140px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  font-size: 32px;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: transform 0.5s ease, background-color 0.5s ease, box-shadow 0.3s ease;
}

.card::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    height: 0;
    padding-bottom: 133%;
    flex: 0 0 auto; 
    scroll-snap-align: start;
    font-size: 200px;
  }
}


.card--closed {
  background-color: white;
  color: #007bff; 
  font-weight: 900;
}

.card--closed::after {
  content: attr(data-number);
}

.card--active {
  transform: rotateY(180deg); 
  background-color: #007bff; 
}

.card--active::after{ 
  content: attr(data-emoji);
}

.card--active.card--red {
  background-color: red;
}

.card--active.card--black {
  background-color: black;
}

.card--active.card--don {
  background-color: purple;
}

.card--active.card--sheriff {
  background-color: yellow;
}
